<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
{% autoescape true %}
<html>
<script type="text/javascript" src="scripts/cogentSolutions.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Hedgehogs Lacrosse</title>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<div class="page page-home">
	<div class="header">
		<div>
			<h1 id="logo">East Cobb Lacrosse</h1>
				 
			{% if not feature.isLoggedIn %}
					<div id="login">
				<form name="login" action="/login" method="post">
					<input type="text" id="name" name="user_name" value="Hog" onclick="this.value='';" onfocus="this.select()"></br>
					<input type="password" id="password" name="password" value="Password" onclick="this.value='';" onfocus="this.select()"></br>
					<input type="submit" id="submit" value="Continue&#62;&#62;">
				</form>
					<a href="newuser">New User</a>
					</div>
				{% else %}
				<div id="headerteamcrest">
					<img src="/images/teamcrest.jpg">
					</div>
					{% endif %}

			<ul>
				<li class="selected"><a href="index">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/news/">News</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
	</div>
</div>
	<div class="page">
		<p></p>
		<div class="body">
			<div id="spacer">
				<p></p>
		</div>
			<div class="home">
				<h4>Latest News</h4>
				<ul>
					{% for item in news %}
					<li><a href="news"><img src="/images/teamcrest.jpg" alt=""
							width="75px" height="75px" style="opacity: .7"></a>
						<div>
							<h3>{{ item.title }}</h3> <span>{{ item.author }}</span> <br />
							<span>{{ item.date }}</span> <a href="/news/">Read
								more&#62;&#62;</a>
					</div></li> {% endfor %}
				</ul>
		</div>
			<div class="sidebar">
				<h4>Upcoming Events</h4>
				<section class="container">
				</section>
				<ul>
					{% for event in events %}
					<li>
						<div>
							<h3>{{ event.name }}</h3>
							<p>{{ event.date }}</p> <a href="/events/event?eventname={{ event.name }}">Read
								more&#62;&#62;</a>
					</div>
					</li> {% endfor %}
				</ul>
				{% if feature.isAdmin %}
				<a href="/events/createEvent">Create Event</a>
				{% endif %}
				<h4>Sign-up For Updates</h4>
				<form action="index">
					<input type="text" onclick="this.value='';" onfocus="this.select()"
						onblur="this.value=!this.value?'Enter e-mail address':this.value;"
						value="Enter e-mail address" id="email"> <input	type="submit" value="">
				</form>
		</div>
			<div class="section">
				<div class="gallery">
					<h4>Gallery</h4> 
					<ul>
						{% for key in imageKeys %}
						<li><a href="/img?pic_key={{ key }}" target="_blank"><img
								src="/img?pic_key={{ key }}" /></a></li> {% endfor %}
					</ul>
			</div>
				<div class="connect">
					<h4>Social</h4> <a
					href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
					<a href="https://www.facebook.com/groups/eastcobblax/" id="fb">fb</a>
					<a href="http://freewebsitetemplates.com/go/googleplus/"
					id="googleplus">google+</a> <a
					href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">vimeo</a>
			</div>
		</div>
	</div>
</div>
{% if feature.isPlayer and feature.isLoggedIn %}
	<h3>UPLOAD A PHOTO</h3>
	<form action="index/postimage?current_page=index"
		enctype="multipart/form-data" method="post">
		<div><input type="file" name="img" /></div>
		<div><input value="" name="image_name"></div> <input
			type="submit" value="upload">
	</form>
	{% endif %}
</div>
</body>
</html>
{% endautoescape %}
