<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
{% autoescape true %}
<html >
<script type="text/javascript" src="scripts/cogentSolutions.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="scripts/jquery.fixedbg.min.js">></script> -->
  <script>
  $(function($) {
	  $(".page").fixedBG(); 
	  autoAdjust: false;
	});
  </script>
<head>
	<meta charset="UTF-8">
	<title>Hedgehogs Lacrosse</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	<style>
		#profBody{color: #FFF; font-size: 1in;}
	</style>
</head>
	<div class="page page-home">
		<div class="header">
			<div>
				<h1 id="logo">East Cobb Lacrosse</h1> 
				<div id="login">
					<form name="loginform" action="index" method="post" onsubmit="return validateForm()">

							<input type="text" id="name" name="user_name" value="Hog" ></br>	  		
				    		<input type="text" id="email" name="email" value="Password"></br>
							<input type="submit" id="submit" value="Continue&#62;&#62;">

					</form>
				</div>
				<ul>
					<li class="selected">
						<a href="index">Home</a>
					</li>
					<li>
						<a href="about">About</a> 
					</li>
					<li>
						<a href="news">Calendar</a> 
					</li>
					<li>
						<a href="contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page">
		<p>
		
		</p>
		<div class="body">
		<div id="spacer">
			<p></p>
		</div>
			<div class="home">
				<h4>Latest News</h4>
				<ul>
 				{% for item in news %}
					<li>
						<a href="news"><img src="/images/teamcrest.jpg" alt="" width ="75px" height="75px" style="opacity:.7"></a>
						<div>
							<h3>{{ item.title }}</h3>
							<span>{{ item.author }}</span> <br/> <span>{{ item.date }}</span>
							<p>
								{{ item.message }}
							</p>
							<a href="news">Read more&#62;&#62;</a>
						</div>
					</li>
 					{% endfor %} 
					
					</ul>
			</div>
			<div class="sidebar">
				<h4>Upcoming Events</h4>
				<ul>
					<li>
						<div>
							<h3>Featured Title One</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget
							</p>
							<a href="news">Read more&#62;&#62;</a>
						</div>
					</li>
					<li>
					
						<div>
							<h3>Featured Title One</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget
							</p>
							<a href="news">Read more&#62;&#62;</a>
						</div>
					</li>
				</ul>
				<h4>Sign-up For Updates</h4>
				<form action="index">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter e-mail address':this.value;" value="Enter e-mail address" id="email">
					<input type="submit" value="">
				</form>
			</div>
			<div class="section">
				<div class="gallery">
				
					<h4>Gallery</h4>
					<ul>
					
					{% for pic in images %}
						<li>
						<a herf="galery/{{ pic }}" ><img src="/gallery/{{ pic }}" ></a>
						</li>
						{% endfor %}			
					</ul>
				
				</div>
				<div class="connect">
					<h4>Social</h4>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="https://www.facebook.com/groups/eastcobblax/" id="fb">fb</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a> <a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">vimeo</a>
				</div>
			</div>
		</div>
<!-- 		<div class="footer"> -->
<!-- 			<div> -->
<!-- 				<ul> -->
<!-- 					<li> -->
<!-- 						<a href="index">Home</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="about">About</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="#">Blog</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="contact">Contact</a> -->
<!-- 					</li> -->
<!-- 				</ul> -->
<!-- 				<p> -->
<!-- 					&#169; Copyright &#169; 2032.Company name all rights reserved -->
<!-- 				</p> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>
	
	</div>
</body>

</html>
{% endautoescape %}